@media (max-width: 1360px) { 
    .swiper-button-prev,
    #product-same .owl-carousel .owl-nav button.owl-prev::before{
        left: -40px;
    }
    .swiper-button-next,
    #product-same .owl-carousel .owl-nav button.owl-next::before{
        right: -40px;
    }
    #slide-image #pagination-slide.owl-carousel .owl-nav button::before {
        width: 35px;
        height: 35px;
        display: flex;
        background: #FFF;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }
    #slide-image #pagination-slide.owl-carousel .owl-nav button.owl-next::before {
        right: 15px;
    }
    #slide-image #pagination-slide.owl-carousel .owl-nav button.owl-prev::before{
        left: 15px;
    }
}
@media (max-width: 1200px) { 
    .padding-50 {
        padding: 40px 0;
    }
    .box-title {
        margin-bottom: 50px;
    }
    .box-title .title {
        font-size: 32px;
    }
    #product-same .owl-carousel .owl-nav button.owl-prev::before{
        left: 40px;
    }
    .swiper-button-next,
    #product-same .owl-carousel .owl-nav button.owl-next::before{
        right: 40px;
    }
    #about-us .box-content-about {
        max-width: 90%;
    }
    #about-us .box-content-about .title-about {
        font-size: 34px;
        margin-bottom: 30px;
    }
}
@media (max-width: 1024px) { 
    header#header .toggle-menu {
        display: flex!important;
    }
    header#header .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 0;
    }
    header#header .header-top .list-cart{
        position: relative;
        top: auto;
        transform: unset;
    }
    header#header .wrap-menu .item-menu .nav-link{
        padding: 15px 20px;
    }
    header#header .header-top .logo img{
        height: 43px;
    }
    header#header .wrap-menu{
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0 30px 20px;
    }
    .wrap-menu-main{
        position: fixed;
        top: 91px;
        left: 0;
        width: 375px;
        background: #FFF;
        height: calc(100vh - 91px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-375px);
        transition: all .3s;
    }
    .wrap-menu-main.active{
        transform: translateX(0);
        transition: all .3s;
    }
    .wrap-menu-main .social-mobile{
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-bottom: 30px;
    }
    .wrap-menu-main .social-mobile li a{
        display: block;
        padding: 10px 20px;
    }
    body.active-menu{
        overflow: hidden;
        position: relative;
    }
    body.active-menu::before{
        content: "";
        background-color: rgba(0, 0, 0, .45);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 29;
    }
    header#header .wrap-menu .item-menu{
        width: 100%;
    }
    header#header .wrap-menu .item-menu ul {
        position: relative;
        top: auto;
        min-width: 100%;
        opacity: 1;
        visibility: visible;
        transform: unset;
        display: none;
        transition: unset;
    }
    header#header .wrap-menu .item-menu>ul ul {
        left: 0;
        top: auto;
    }
    header#header .wrap-menu .item-menu ul i {
        top: 14px;
    }
    header#header .wrap-menu .item-menu a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header#header .wrap-menu .item-menu i{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 32;
        top: 14px;
    }
    header#header .wrap-menu li:hover>ul {
        opacity: unset;
        visibility: unset;
        transition: unset;
        transition-delay: unset;
        transform: unset;
    }
    /* about us  */
    #banner-main .content-banner .title-banner {
        font-size: 28px;
    }
    .breadcrumb .breadcrumb-item *,
    .breadcrumb .breadcrumb-item{
        font-size: 12px;
    }
    #banner-new-top .box-content-new .title-product {
        font-size: 34px;
    }
    #banner-new-top .box-content-new .content-less-blog {
        margin-top: 30px;
    }
    #banner-new-top .box-content-new{
        padding-right: 6%;
    }
    .wrap-video-youtube iframe{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-md-6 {
        -ms-flex: auto;
        flex: auto;
        max-width: 100%;
    }
    .wrap-form-resiger .wrap-form .wrap-form-child {
        padding: 35px 15px 50px;
    }
    .wrap-form-resiger .wrap-form .title-form {
        font-size: 28px;
    }
    .wrap-form-resiger .wrap-form .content-form {
        margin-bottom: 25px;
        font-size: 14px;
    }
    #slide-top .wrap-content-slide .title-slide {
        font-size: 40px;
    }
    #slide-top .wrap-content-slide .content-text {
        font-size: 20px;
    }
    #about-us .row>div{
        flex: auto;
        max-width: 100%;
    }
    #about-us .row>div:first-child{
        order: 2;
    }
    #about-us .row>div:last-child{
        order: 1;
    }
    #about-us .box-content-about {
        max-width: 100%;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    #about-us .box-content-about .title-about {
        font-size: 28px;
    }
    #product-category .item-category .box-content{
        padding-top: 20px;
    }
    .item-category .box-content .title-category *{
        font-size: 24px;
    }
    #banner-item .row{
        flex-wrap: nowrap;
        overflow: scroll;
    }
    #banner-item .wrap-image-item {
        display: flex;
        flex-wrap: nowrap;
        gap: unset;
        flex: unset;
        max-width: unset;
        width: max-content;
    }
    .wrap-image-item .box-image{
        margin-bottom: 20px;
        min-width: 250px;
        width: 250px;
        margin-right: 30px;
        height: 100%!important;
    }
    #banner-item .wrap-image-item .box-image:last-child{
        margin-right: 0;
    }
    #banner-item .img-big {
        flex: unset;
        grid-area: unset;
    }
    #slide-feedback .item .content {
        font-size: 22px;
    }
    .wrap-form-resiger{
        flex-wrap: wrap;
        text-align: center;
    }
    .wrap-form-resiger>* {
        flex: unset;
        max-width: 100%;
        width: 100%;
    }
    #form-resiger{
        overflow: hidden;
    }
    #form-resiger .wrap-form .form-group{
        text-align: left;
    }
    #follow .wrap-image-follow {
        display: flex;
        grid-template-columns: unset;
        overflow-x: scroll;
    }
    #follow .wrap-image-follow .box-image{
        max-width: 156px;
        flex: 0 0 156px;
    }
    footer#footer .logo{
        margin-bottom: 35px;
    }
    footer#footer ul{
        margin-bottom: 20px;
    }
    footer#footer ul li{
        font-size: 18px;
    }
    footer .footer-last {
        margin-top: 5px;
        border: none;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    footer .footer-last>div{
        order: 2;
    }
    footer .footer-last>ul{
        order: 1;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 15px;
    }
    .item-category{
        margin-bottom: 30px;
    }
    .box-title .title {
        font-size: 28px;
    }
    /* about us  */
    .wrap-image-about{
        flex-wrap: nowrap;
        display: flex;
        overflow-x: scroll;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    .wrap-image-about [class*="col-"]{
        padding: 0 7.5px;
    }
    .wrap-image-about .box-image{
        min-width: 170px;
        width: 170px;
    }
    #wrap-about .wrap-content-about .box-content .title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    /* product */
    #product-list {
        padding: 50px 0;
    }
    #product-list .box-tab-control .box-sort{
        display: none!important;
    }
    #product-list .box-tab-control {
        margin-bottom: 30px;
    }
    .row{
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    .row [class*="col-"]{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    #product-list .box-tab-control .nav-item {
        height: 40px;
        min-width: 100px;
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 8px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    /*  */
    .slider .pointer-event{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .slider .pointer-event>div{
        flex: unset;
        max-width: 100%;
        
    }
    .slider .pointer-event>div.d-flex{
        flex-direction: column;
    }
    .wrap-detail-product .slider .carousel-indicators {
        flex-direction: row;
        width: 100%;
        margin: 10px 0;
    }
    .wrap-detail-product .slider .carousel-indicators li{
        margin-right: 10px;
    }
    .wrap-detail-product .content-detail {
        padding-left: 0;
        margin-top: 30px;
    }
    .wrap-detail-product .content-detail .list-rate{
        margin-top: 10px;
    }
    #detail .detail-main {
        padding: 30px 0;
    }
    /*  */
    section#news .row .col-lg-4.col-md-6,
    #detail-new .row.pb-5 .col-lg-4.col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .item-blog .box-content-product .title-product * {
        font-size: 20px;
    }
    .item-blog .box-content-product {
        padding-top: 20px;
    }
    .item-blog .size-blog-2 {
        min-width: 230px;
        width: 230px;
    }
    .wrap-tab-right{
        padding-top: 30px;
    }
    #detail-new .wrap-content-detail{
        padding: 0 35px;
    }
    .wrap-video-youtube iframe{
       height: 450px;
    }
    #product-hot .swiper-button-next,
    #product-hot .swiper-button-prev{
        display: none;
    }
}
@media (max-width: 576px) {
    #slide-top .wrap-content-slide .content-text {
        font-size: 18px;
    }
    #slide-top .wrap-content-slide .content{
        font-size: 14px;
    }
    #wrap-about .wrap-content-about .box-content {
        max-width: 100%;
        margin-bottom: 30px;
    }
    #box-count-data .title {
        font-size: 50px;
    }
    #box-count-data .name {
        font-size: 16px;
    }
    #box-count-data p {
        font-size: 12px;
    }
    #box-count-data {
        margin: 55px auto 0;
    }
    .wrap-image-about .box-image{
        min-width: 152px;
        width: 152px;
    }
    .item-product .box-content-product .wrap-title-product .add-cart{
        display: none;
    }
    .item-product .wrap-title-product .title-product .title-main,
    .item-product .box-content-product .price {
        font-size: 14px;
    }
    .item-product {
        margin-bottom: 25px;
    }
    .wrap-form-resiger .wrap-form .text-title {
        font-size: 16px;
    }
    .wrap-form.form-contact {
        max-width: 100%;
        margin-bottom: 30px;
    }
    /*  */
    .item-blog .box-content-product .title-product * {
        font-size: 18px;
        margin-top: 10px;
    }
    .item-blog .box-content-product {
        padding-top: 15px;
    }
    .item-blog .size-blog-2 {
        min-width: 210px;
        width: 210px;
    }
    .item-blog.d-flex .box-content-product {
        padding: 0 0 0 20px;
    }
    .pagination-product.pagination-new{
        margin-top: 70px;
    }
    #banner-new-top{
        flex-direction: column-reverse;
    }
    #banner-new-top>div,
    #detail-new .row.pb-5 .col-lg-4.col-md-6{
        flex: unset;
        max-width: 100%;
    }
    #detail-new .row.pb-5 .col-lg-4.col-md-6 .item-blog .box-image{
        width: 100%;
    }
    #banner-new-top .box-content-new{
        padding: 15px 15px 35px;
    }
    #detail-new .wrap-content-detail{
        padding: 0;
    }
    .form-comment-user-blog{
        padding: 15px;
    }
    .form-comment-user-blog .for-input button{
        margin-top: 15px;
    }
    .wrap-video-youtube iframe{
        height: 350px;
     }
}
@media (max-width: 414px) {
    section#news .row .col-lg-4.col-md-6{
        flex: unset;
        max-width: 100%;
    }
    .item-blog.d-flex{
        display: block!important;
    }
    .item-blog.d-flex .size-blog-2{
        width: 100%;
    }
    .item-blog.d-flex .box-content-product{
        padding-left: 0;
    }
    footer#footer {
        padding-top: 70px;
    }
    footer#footer .logo {
        width: 100%;
        text-align: center;
    }
    .wrap-video-youtube iframe{
        height: 300px;
     }
}