@font-face {
    font-family: Font-Regular;
    src: url("./fonts/Averta-Regular.otf") format("opentype");
}

@font-face {
    font-family: Font-Light;
    src: url("./fonts/Averta-Light.otf") format("opentype");
}
@font-face {
    font-family: Font-600;
    src: url("./fonts/Averta-Semibold.otf") format("opentype");
}

@font-face {
    font-family: Font-700;
    src: url("./fonts/Averta-Bold.otf") format("opentype");
}
@font-face {
    font-family: Font-Title;
    src: url("./fonts/KGSecondChancesSolid.ttf") format("truetype");
}

:root {
    --font-normal: "Font-Regular";
    --font-light: "Font-Light";
    --font-600: "Font-600";
    --font-700: "Font-700";
    --font-title: "Font-Title";
    --color-main: #27100C;
    --color-text: #2D2D2D;
    --color-hover: #FBAD19;
    --color-text-content: #2B2B2B;
    --bg-1: #FFF8F3;
}

* {
    font-family: var(--font-normal);
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: var(--color-text);
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-hover);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-hover);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    line-height: 1.33;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.3;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.title{
    font-family: var(--font-title);
}
.font-bold {
    font-family: var(--font-700);
}

.bg-white {
    background-color: white;
}

.color-main {
    color: var(--color-main) !important
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.btn-color-text{
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
    color: #FFF;
}
.btn.btn-color-text:hover{
    color: var(--color-text);
    background-color: transparent;
    transition: all .4s;

}

.box-title{
    margin-bottom: 60px;
}
.box-title .title{
    font-size: 36px;
}
.padding-50{
    padding: 50px 0;
}
.pt-100{
    padding-top: 100px;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/* hover image  */
.box-image {
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
}
.hover-image{
    position: relative;
    overflow: hidden;
}
.hover-image::before{
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-image:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}
.item-product .box-image img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}
/*  */
.line-2{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.line-3{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* toggle menu */
/* html
<a href="javascript:void(0)" title="toggle-menu" class="toggle-menu d-lg-none">
    <span></span>
</a>  */
header#header .toggle-menu {
    background: transparent;
    height: 20px;
    position: relative;
    transition: all .3s;
    width: 24px;
    margin-left: 14px;
}
header#header .toggle-menu span {
    background: #000;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after, header#header .toggle-menu:before {
    background: #000;
    border-radius: 2px;
    content: "";
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after {
    bottom: 0;
    right: 0;
}
header#header .toggle-menu:before {
    top: 0;
}
header#header .toggle-menu.active span {
    background: transparent;
}
header#header .toggle-menu.active:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header#header .toggle-menu.active:after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

/* HEADER  */
/* HEADER  */
header#header{
    position: relative;
    background-color: #FFF;
    z-index: 30;
    transition: all .3s;
}
header#header .header-top{
    position: relative;
    text-align: center;
    padding: 28px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header#header .header-top .list-cart{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}
header#header .header-top .list-cart .icon-box-search{
    border: 1px solid rgba(45, 45, 45, 0.2);
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    cursor: pointer;
}
header#header .header-top .list-cart .icon-box-search img{
    max-width: max-content;
}
header#header .wrap-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
}
header#header .wrap-menu .item-menu{
    position: relative;
}
header#header .wrap-menu .item-menu .nav-link{
    color: var(--color-text);
    text-transform: uppercase;
    padding: 20px 30px;
    font-family: var(--font-600);
    transition: all .3s;
}
header#header .wrap-menu .item-menu i{
    position: absolute;
    right: 13px;
    top: 24px;
}
header#header .wrap-menu .item-menu ul i{
    top: 21px;
}
header#header .wrap-menu .item-menu:hover .nav-link{
    color: var(--color-hover);
}
header#header .wrap-menu .item-menu ul{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #FFF;
    border-top: 1px solid var(--color-main);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: translateY(35px);
}
header#header .wrap-menu li:hover>ul{
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    transition-delay: .3s;
    transform: translateY(0);
}
header#header .wrap-menu .item-menu>ul ul{
    left: 100%;
    top: 0;
}
header#header .wrap-menu .item-menu>ul li{
    position: relative;
}
header#header .wrap-menu .item-menu ul a{
    padding: 15px;
    display: block;
    transition: all .3s;
}
header#header .wrap-menu .item-menu ul li:hover>a{
    color: var(--color-hover);
    transition: all .3s;
}

/*  */
.wrap-menu-main .social-mobile{
    display: none;
}
/* HEADER  */
/* main  */


#slide-top{
    position: relative;
}
#slide-top #slide-main{
    height: 100%;
}
#slide-top #slide-main.owl-carousel .owl-stage-outer,
#slide-top #slide-main.owl-carousel .owl-stage,
#slide-top #slide-main.owl-carousel .owl-stage .owl-item,
#slide-top #slide-main .item,
#slide-top #slide-main .bg-slide{
    height: 100%;
}
#slide-top .wrap-content-slide{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
}
#slide-top .wrap-content-slide .title-slide{
    font-size: 60px;
    font-family: var(--font-title);
}
#slide-top .wrap-content-slide .content-text{
    font-size: 32px;
    font-family: var(--font-600);
}
#slide-top .wrap-content-slide .content{
    margin: 5px 0 40px;
}
#slide-top .wrap-content-slide .link-more{
    color: #FFF;
    width: 195px;
    border: 1px solid #FFF;
    border-radius: 4px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
#slide-top .wrap-content-slide .link-more:hover{
    background-color: #FFF;
    color: var(--color-text);
    transition: all .3s;
}
#slide-top .owl-theme .owl-nav{display: none;}
#slide-top .owl-theme .owl-dots{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 40px;
}
#slide-top .owl-theme .owl-dots .owl-dot span{
    width: 14px;
    height: 14px;
}
/*  */
/* about-us */
#about-us{
    position: relative;
}
#about-us .row [class*="col"]{
    position: relative;
}
#about-us .box-content-about{
    width: 100%;
    max-width: 80%;
}
#about-us .box-content-about .title-about{
    font-size: 40px;
    font-family: var(--font-title);
    margin-bottom: 40px;
}
#about-us .box-content-about .content{
    margin-bottom: 30px;
    color: #2B2B2B;
}
#about-us .box-content-about .link-more{
    width: 195px;
    height: 55px;
}


.slider{
    position: relative;
}
.swiper-container {
padding-bottom: 20px;
}

.swiper-scrollbar {
    height: 4px!important;
    width: 100%!important;
    bottom: 0!important;
    left: 0!important;
    transform: unset!important;
    position: relative!important;
    background: #D9D9D9!important;
    transition: all .4s!important;
}
.swiper-scrollbar:hover{
    height: 10px!important;
    transition: all .4s!important;
}
.swiper-scrollbar-drag{
    background-color: var(--color-text);
    width: 25%!important;
    cursor: pointer;
}

.swiper-container-horizontal > .swiper-scrollbar {
border-radius: 2px;
height: 5px;
width: 200px;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
.swiper-wrapper{margin-bottom: 15px;}
.swiper-wrapper img {
width: 100%;
}
.swiper-button-prev,
.swiper-button-next{
    background: transparent;
    width: auto;
    height: auto;
}
.swiper-button-prev{
    left: -80px;
}
.swiper-button-next{
    right: -80px;
}

/* item-product */
.item-product{
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    max-width: 270px;
}
.item-product .box-image{
    border-radius: 4px;
    width: 100%;
}
.item-product .box-image>a{
    display: block;
    width: 100%;
    height: 100%;
}
.item-product .box-image .box-view{
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translateX(-100px);
    transition: all .4s;
    transition-delay: .3s;
}
.item-product:hover .box-image .box-view{
    transform: translateX(0);
    transition: all .4s;
    transition-delay: .2s;
}
.item-product .box-image .box-view a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #FFF;
    margin-bottom: 10px;
    transition: all .3s;
}
.item-product .box-image .box-view a:hover{
    background-color: var(--color-hover);
}
.item-product .box-image .box-view img{
    width: max-content;
    height: auto;
}
.item-product .box-content-product{
    padding-top: 20px;
}
.item-product .box-content-product .wrap-title-product{
    display: flex;
}
.item-product .wrap-title-product .title-product .title-main{
    font-size: 16px;
    color: var(--font-title);
    font-family: var(--font-normal);
    transition: all .3s;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-product .wrap-title-product .title-product .title-main:hover{
    color: var(--color-hover);
}
.item-product .box-content-product .wrap-title-product .add-cart{
    display: block;
    min-width: max-content;
    margin-left: 20px;
    margin-right: 2px;
}
.item-product .box-content-product .wrap-title-product .add-cart img{
    min-width: max-content;
}
.item-product .box-content-product .list-rate{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}
.item-product .box-content-product .list-rate img{
    max-width: max-content;
}
.item-product .box-content-product .price{
    font-size: 20px;
    font-family: var(--font-600);
}

/* product-category */
#product-category .item-category .box-content{
    padding-top: 15px;
}
.item-category .box-content .title-category *{
    font-size: 30px;
    font-family: var(--font-600);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-category .box-content .content{
    color: #414141;
    margin-top: 5px;
    margin-bottom: 25px;
}
.item-category .box-content .link-more{
    min-width: 140px;
}
/*  */
.item-team .box-image{
    border-radius: 100%;
}
.item-team .box-content{
    text-align: center;
    padding-top: 30px;
}
.item-team .box-content .title-name{
    font-size: 22px;
}
.item-team .box-content .content{
    color: #8F8F8F;
}

/*  */
#banner-item .wrap-image-item{
    display: grid;
    flex-wrap: wrap;
    grid-template-areas: 
    'big big big big big big'
    'big big big big big big'
    'small-1 small-1 small-1 small-2 small-2 small-2';
    gap: 30px;

}
#banner-item .wrap-image-item.grid-2{
    grid-template-areas: 
    'small-1 small-1 small-1 small-2 small-2 small-2'
    'big big big big big big'
    'big big big big big big';

}
#banner-item .img-big{
    flex: 0 0 100%;
    max-width: 100%;
    grid-area: big
}
#banner-item .img-small.small-1{
    grid-area: small-1
}
#banner-item .img-small.small-2{
    grid-area: small-2
}
#banner-item .box-image img{
    height: 100%;
}
/* slide-feedback */
#slide-feedback .owl-theme .owl-nav{display: none;}
#slide-feedback .owl-theme .owl-dots{
    margin-top: 40px;
}
#slide-feedback .owl-theme .owl-dots .owl-dot.active span,
#slide-feedback .owl-theme .owl-dots .owl-dot.hover span{
    background: #585858;
}
#slide-feedback .item .content{
    font-size: 32px;
    font-family: var(--font-600);
    margin-bottom: 30px;
}
#slide-feedback .item .name{
    font-family: var(--font-600);
    font-size: 18px;
    margin-top: 15px;
}
#slide-feedback .item .text{
    margin-bottom: 10px;
    color: #667085;
}
/*  */
.wrap-form-resiger{
    display: flex;
}
.wrap-form-resiger>*{
    flex: 0 0 50%;
    max-width: 50%;
}
.wrap-form-resiger>.box-image img{height: 100%;}
.wrap-form-resiger .wrap-form{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-form-resiger .wrap-form .wrap-form-child{
    width: 100%;
    max-width: 750px;
    padding: 60px 50px 50px;
    margin: 0 auto;
}
.wrap-form-resiger .wrap-form .title-form{
    font-size: 36px;
    font-family: var(--font-title);
    margin: 25px 0 25px
}
.wrap-form-resiger .wrap-form .content-form{
    margin-bottom: 35px;
}
.wrap-form-resiger .wrap-form .form-row{
    margin-left: -9px;
    margin-right: -9px;
}
.wrap-form-resiger .wrap-form .form-row>[class*="col-"]{
    padding-left: 9px;
    padding-right: 9px;
}
.wrap-form-resiger .wrap-form .form-group .form-control{
    height: 48px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding-left: 15px;
    padding-right: 15px;
}
#form-resiger .wrap-form .form-group .form-control::placeholder{
    color: #667085;
}
#form-resiger .wrap-form .form-group label,
#form-resiger .wrap-form .form-group legend{
    color: #B9B9B9;
    font-size: 14px;
}

#form-resiger .wrap-form .form-check .form-check-input{display: none}
#form-resiger .wrap-form .form-check label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#form-resiger .wrap-form .form-check label::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #8E8E93;
    display: block;
    border-radius: 100%;
    margin-right: 5px;
}
#form-resiger .wrap-form .form-check input:checked ~ label::before{
    border-color: #FFF;
}
#form-resiger .wrap-form .form-check input:checked ~ label::after{
    content: "";
    width: 14px;
    height: 14px;
    background: #FFF;
    border-radius: 100%;
    position: absolute;
    left: 3px;
    top: 3px;
}
#form-resiger .wrap-form .btn-submit{
    width: 100%;
    height: 55px;
    background: transparent;
    border-radius: 4px;
    border:1px solid #FFF;
    text-transform: uppercase;
    font-family: var(--font-600);
    margin-top: 15px;
    transition: all .3s;
}
#form-resiger .wrap-form .btn-submit:hover{
    background: #FFF;
    color: var(--color-main);
    transition: all .3s;
}
.text-yellow{
    font-size: 14px;
    color: var(--color-hover);
    font-style: italic;
    font-family: var(--font-light);
}

/* follow */
#follow .wrap-image-follow{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}
#follow .wrap-image-follow .box-image img{
    height: 100%;
}
 
#resiger-notifi .box-title{
    margin-bottom: 20px;
}
#resiger-notifi .resiger-notifi{
    display: flex;
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
    position: relative;
    align-items: center;
}
#resiger-notifi .resiger-notifi input{
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    width: 100%;
    height: 50px;
    padding-right: 40px;
}
#resiger-notifi .resiger-notifi input::placeholder{
    color: #BBBBBB;
    font-style: italic;
}
#resiger-notifi .resiger-notifi .btn-submit{
    position: absolute;
    right: 0;
    z-index: 1;
    padding-right: 0;
}


footer#footer{
    font-size: 14px;
    padding-top: 100px;
}
footer#footer .title-footer{
    font-size: 16px;
}
footer#footer .list-menu{
    font-size: 16px;
}
footer .footer-last{
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom:30px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
footer .footer-last .list-social li{
    padding: 0 10px;
}

/* banner-main */
#banner-main{
    position: relative;
}
#banner-main::before{
    content: "";
    background: linear-gradient(360deg, rgba(16, 8, 6, 0.9) -5.33%, rgba(0, 0, 0, 0) 177.48%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner-main .bg-banner{
    width: 100%;
    min-height: 180px;
}
#banner-main .content-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#banner-main .content-banner .title-banner{
    font-size: 42px;
    color: #FFF;
}
.breadcrumb{
    display: inline-flex;
    background: transparent;
    color: #FFF;
    padding-bottom: 0;
    margin-bottom: 0;
}
.breadcrumb .breadcrumb-item{
    color: #FFF;
    text-transform: uppercase;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    color: #FFF;
}
.breadcrumb .breadcrumb-item *{
    color: #FFF;
    text-transform: uppercase;
}

#wrap-about  .wrap-content-about{
    padding-top: 80px;
}
#wrap-about  .wrap-content-about .box-content{
    max-width: 85%;
}
#wrap-about  .wrap-content-about .box-content .title{
    font-size: 38px;
    margin-bottom: 30px;
}
#box-count-data{
    width: 100%;
    max-width: 85%;
    margin: 80px auto 0;
}
#box-count-data .title{
    font-size: 55px;
    color: var(--color-main);
}
#box-count-data .name{
    font-size: 20px;
}
#box-count-data p{
    color: #667085;
    font-size: 14px;
    margin-top: 5px;
}

#product-list{
    padding: 100px 0;
}
#product-list .box-tab-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
#product-list .box-tab-control .tab-control{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#product-list .box-tab-control .nav-item{
    height: 48px;
    border: 1px solid #A1A1A1;
    color: #A1A1A1;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all .3s;
    margin-right: 15px;
    font-family: var(--font-600);
}
#product-list .box-tab-control .nav-item:hover,
#product-list .box-tab-control .nav-item.active{
    border-color: #3A1B14;
    color: #3A1B14;
    transition: all .3s;
}
#product-list .box-tab-control .box-sort .text{
    color: #5C5C5C;
    margin-right: 5px;
    font-family: var(--font-600);
}
#product-list .box-tab-control .box-sort #sort{
    border: none;
    color: #8E8E8E;
}

.wrap-form-resiger .wrap-form .title-form{
    font-size: 55px;
    margin-bottom: 10px;
}
.wrap-form-resiger .wrap-form .text-title{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.wrap-form-resiger .wrap-form .btn-submit{
    border: 1px solid #FFF;
    min-width: 155px;
    height: 55px;
    background-color: transparent;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* pagination-product */
.pagination-product{
    margin-top: 30px;
}
.pagination-product .pagination{
    justify-content: center;
}
.pagination-product .page-item .page-link{
    min-width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #FEF3E2;
    border-radius: 8px;
    color: #1D2939;
    font-family: var(--font-600);
    transition: all .3s;
}
.pagination-product .page-item:hover .page-link,
.pagination-product .page-item.active .page-link{
    color: #FFF;
    background-color: var(--color-hover);
}
.pagination-product.pagination-new{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 100px;
    border-top: 1px solid #EAECF0;
}
.pagination-product.pagination-new .page-item .page-link{
    border: none;
}
.pagination-product.pagination-new{}
.pagination-product.pagination-new .page-item:hover .page-link,
.pagination-product.pagination-new .page-item.active .page-link{
    background-color: #F5F5F5;
    color: #3D3D3D;
}

#follow{
    background-color: #FFF8F3;
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 50px;
}

/* wrap-form form-contact */
.wrap-form.form-contact{
    max-width: 85%;
}
.wrap-form.form-contact .title-form{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: var(--font-600);
}
.wrap-form.form-contact .text-title{
    color: #667085;
    font-size: 18px;
    margin-bottom: 40px;
}
.wrap-form.form-contact .form-group{
    margin-bottom: 15px;
}
.wrap-form.form-contact .form-group label{
    color: var(--color-text);
    font-family: var(--font-600);
}
.wrap-form.form-contact .form-group input.form-control{
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    
}
.wrap-form.form-contact .form-group input.form-control::placeholder{
    color: #667085;
}
.wrap-form.form-contact .btn-submit{
    height: 55px;
    background-color: var(--color-text);
    color: #FFF;
    width: 100%;
    transition: all .3s;
    margin-top: 25px;
}
.wrap-form.form-contact .btn-submit:hover{
    background-color: var(--color-hover);
}
.wrap-form.form-contact .wrap-list-check .wrap-list-cate-product .form-check{
    margin-bottom: 15px;
}
.wrap-form.form-contact .wrap-list-check .wrap-list-cate-product input{
    display: none;
}
.wrap-form.form-contact .wrap-list-check .wrap-list-cate-product label{
    position: relative;
    display: flex;
    font-family: var(--font-normal);
    cursor: pointer;
}
.wrap-form.form-contact .wrap-list-check .wrap-list-cate-product label::before{
    content: "";
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.wrap-form.form-contact .wrap-list-check .wrap-list-cate-product input:checked ~ label::after{
    content: "";
    width: 12px;
    height: 7px;
    border-left: 2px solid #D0D5DD;
    border-bottom: 2px solid #D0D5DD;
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
}
.box-image-contact{
    height: 100%;
}
.box-image-contact img{
    height: 100%;
}


.item-blog{
    margin-bottom: 30px;
}
.item-blog .box-content-product{
    padding-top: 25px;
}
.item-blog .box-content-product .title-product{
    display: block
}
.item-blog .box-content-product .title-product *{
    font-size: 22px;
    color: var(--color-main);
    margin: 15px 0 10px;
    font-family: var(--font-600);
    transition: all .3s;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-blog.big .box-content-product .title-product *{
    font-size: 30px;
    margin-bottom: 15px;
}
.item-blog .box-content-product .title-product:hover *{
    color: var(--color-hover);
}
.item-blog .box-content-product .content-less-blog{
    color: #667085;
    margin-bottom: 15px;
    font-size: 14px;
}
.item-blog.big .box-content-product .content-less-blog{
    font-size: 16px;
}
.item-blog .box-content-product .more{
    color: #797979;
    display: flex;
    align-items: center;
    transition: all .3s;
    font-size: 14px;
}
.item-blog .box-content-product .more img{
    margin-left: 5px;
}
.item-blog .box-conten-product .more:hover{
    color: var(--color-hover);
}
.item-blog .size-blog-2{
    min-width: 285px;
    width: 285px;
}
.item-blog.d-flex .box-content-product{
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banner-new-top{
    display: flex;
}
#banner-new-top>div{
    flex: 0 0 50%;
    max-width: 50%;
}
#banner-new-top .box-image>img{
    height: 100%;
}
#banner-new-top .box-content-new{
    background: #FFFBF8;
    padding: 15px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner-new-top .box-content-new .box-post{
    font-family: var(--font-600);
    margin-bottom: 15px;
}
#banner-new-top .box-content-new .title-product{
    color: #101828;
    font-family: var(--font-600);
    font-size: 45px;
    letter-spacing: -0.02em;
}
#banner-new-top .box-content-new .content-less-blog{
    color: #667085;
    margin-top: 35px;
}
#banner-new-top .box-content-new .social-new{
    display: flex;
    margin-top: 50px;
}
#banner-new-top .box-content-new .social-new li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-right: 12px;
    transition: all .3s;
}
#banner-new-top .box-content-new .social-new li a:hover{
    background-color: var(--color-hover);
}

#detail-new .wrap-content-detail{
    padding: 0 50px;
}

.form-comment-user-blog{
    padding: 20px 30px;
    border:1px solid #E6E8EC;
    border-radius: 8px;
    background-color: #FFF;
    margin-top: 25px;
}
.form-comment-user-blog textarea{
    width: 100%;
    border:none;
    border-bottom: 1px solid #E6E8EC;
}
.form-comment-user-blog textarea::placeholder{
    font-size: 16px;
    color: #A7A7A7;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; 
  margin: 0.5px;
  font-size: 24px;
  font-family: "Font Awesome 5 pro";
  display: inline-block; 
}

.starrating > label
{
  color: #000;
  cursor: pointer;
}

.starrating > input:checked ~ label:before
{
     color: #ffca08 ; 
}

.starrating > input:hover ~ label
{ 
    color: #ffca08 ;  
} 
.form-comment-user-blog .for-input{
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
}
.form-comment-user-blog .for-input label{
    color: #344054;
    font-size: 14px;
    font-family: var(--font-500);
    margin-bottom: 5px;
}
.form-comment-user-blog .for-input input{
    height: 44px;
    border-color: #B5B5B5;
    border-radius: 8px;
    padding-left: 15px;
}
.form-comment-user-blog .for-input input::placeholder{
    font-size: 14px;
    color: #A7A7A7;
}
.form-comment-user-blog .for-input .form-group{
    margin-bottom: 0;
    padding-right: 10px;
}
.form-comment-user-blog .for-input button{
    background-color:var(--color-text);
    font-size: 14px;
    font-family:var(--font-700);
    color: #FFF;
    border: none;
    border-radius: 8px;
    height: 44px;
    transition: all .4s;
}
.form-comment-user-blog .for-input button i{
    font-size: 14px;
    margin-left: 10px;
}
.form-comment-user-blog .for-input button:hover{
    opacity: .8;
}

.wrap-tab-right{
    position: sticky;top: 190px;
}
.wrap-tab-right .form-search{
    position: relative;
    margin-bottom: 40px;
}
.wrap-tab-right .form-search .form-control{
    padding-left: 40px;
    height: 55px;
}
.wrap-tab-right .form-search .icon-search{
    position: absolute;
    top: 18px;
    left: 13px;
}
.wrap-list-blog-hot-right{
    margin-top: 40px;
}
.wrap-list-blog-hot-right .title-new{
    font-size: 22px;
    margin-bottom: 25px;
    font-family: var(--font-600);
}
.wrap-list-blog-hot-right .item-new-right{
    display: flex;
    margin-bottom:20px;
}
.wrap-list-blog-hot-right .item-new-right .box-image{
    width: 124px;
    min-width: 124px;
    border-radius: 4px;
    height: 88px;
    margin-right: 15px;
}
.wrap-list-blog-hot-right .item-new-right .box-image>img{
    height: 100%;
}
.wrap-list-blog-hot-right .item-new-right .text-date{
    font-size: 12px;
}
.wrap-list-blog-hot-right .item-new-right .title-product h3{
    font-family: var(--font-600);
    color: #101828;
    font-size: 16px;
}
.item-blog .box-image.box-video{
    position: relative;
    cursor: pointer;
}
.item-blog .box-image>img{
    height: 100%;
}
.item-blog .box-image.box-video .icon-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: auto;
}

.modal-dialog {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content .close{
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}

#slide-image{}
#slide-image .carousel .carousel-item img{
    height: 100%;
}
#slide-image #pagination-slide{
    margin: 25px 0 0;
}
#slide-image #pagination-slide .item{
    flex: unset;
    width: 100%;
    height: auto;
    border: none;
    text-indent: unset;
    opacity: 1;
}
#slide-image #pagination-slide .item img{
    height: 100%;
}
#slide-image #pagination-slide.owl-theme .owl-dots{
    display: none;
}
#slide-image #pagination-slide.owl-theme .owl-nav{
    margin: 0;
    height: 0;
}
#slide-image #pagination-slide.owl-carousel .owl-nav button{
    margin: 0;
}
#slide-image #pagination-slide.owl-carousel .owl-nav button span{
    display: none;
}
#slide-image #pagination-slide.owl-carousel .owl-nav button.owl-next::before,
#slide-image #pagination-slide.owl-carousel .owl-nav button.owl-prev::before{
    position: absolute;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
}
#slide-image #pagination-slide.owl-carousel .owl-nav button.owl-prev::before{
    content: url(../images/Iconprev.png);
    left: -60px;
}
#slide-image #pagination-slide.owl-carousel .owl-nav button.owl-next::before{
    content: url(../images/Iconnext.png);
    right: -60px;
}
.breadcrumb-main .breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    color: var(--color-text);
}
.breadcrumb-main .breadcrumb .breadcrumb-item *,
.breadcrumb-main .breadcrumb .breadcrumb-item{
    color: var(--color-text);
    text-transform: capitalize
}


.wrap-detail-product{}
.wrap-detail-product .slider{}
.wrap-detail-product .slider .carousel-item{}
.wrap-detail-product .slider .carousel-item img{
    height: 100%;
}
.wrap-detail-product .slider .carousel-indicators{
    position: relative;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
}
.wrap-detail-product .slider .carousel-indicators li{
    text-indent: unset;
    width: 100px;
    margin: 0;
    border: none;
    /* opacity: 1; */
    margin-bottom: 10px;
}
.wrap-detail-product .slider .carousel-indicators li img{
    height: 100%;
}
.wrap-detail-product .content-detail{
    padding-left: 40px;
}
.wrap-detail-product .content-detail .title-detail{
    font-size: 30px;
    font-family: var(--font-600);
    margin-bottom: 3px;
}
.wrap-detail-product .content-detail .list-rate{
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.wrap-detail-product .content-detail .price{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.wrap-detail-product .content-detail .price .price-new{
    font-size: 26px;
    font-family: var(--font-600);
    margin-right: 10px;
}
.wrap-detail-product .content-detail .price .price-old{
    font-size: 18px;
    color: #A9A9A9;
    text-decoration: line-through;
}
.wrap-detail-product .form-product-detail{}
.wrap-detail-product .form-product-detail .title-form{
    font-family: var(--font-600);
    margin-bottom: 10px;
}
.wrap-detail-product .form-product-detail .form-check-input{
    display: none;
}
.wrap-detail-product .form-product-detail .form-check{
    padding: 0;
}
.wrap-detail-product .form-product-detail .form-check .form-check-label{
    width: 100%;
    padding: 10px;
    background: #FFF;
    cursor: pointer;
}
.wrap-detail-product .form-product-detail .form-check input:checked ~ .form-check-label{
    background: rgba(0, 0, 0, 0.04);
}
.wrap-detail-product .form-product-detail .box-check-number{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.wrap-detail-product .form-product-detail .form-chosse-add{
    display: flex;
    border: 1px solid #2D2D2D;
    align-items: center;
    height: 60px;
}
.wrap-detail-product .form-product-detail .form-chosse-add .box-number{
    display: flex;
    width: 120px;
    min-width: 120px;
    justify-content: center;
}
.wrap-detail-product .form-product-detail .form-chosse-add .box-number span{
    display: block;
    padding: 0 5px;
    cursor: pointer;
}
.wrap-detail-product .form-product-detail .form-chosse-add .box-number input{
    width: 40px;
    text-align: center;
    border: none;
}
.wrap-detail-product .form-product-detail .form-chosse-add .add-cart{
    background: #2D2D2D;
border: 1px solid #2D2D2D;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
color: #FFF;
}
.wrap-detail-product .form-product-detail .form-chosse-add .add-cart img{
    margin-left: 5px;
}
#detail .detail-main{
    padding: 50px 0;
}
#detail .detail-main *{
    margin-bottom: 15px;
}
#detail .detail-main .title-detail-child{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: var(--font-600);
}

#product-same .owl-theme .owl-dots{
    display: none;
}
#product-same .owl-theme .owl-nav{
    margin: 0;
    height: 0;
}
#product-same .owl-carousel .owl-nav button{
    margin: 0;
}
#product-same .owl-carousel .owl-nav button span{
    display: none;
}
#product-same .owl-carousel .owl-nav button.owl-next::before,
#product-same .owl-carousel .owl-nav button.owl-prev::before{
    position: absolute;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
}
#product-same .owl-carousel .owl-nav button.owl-prev::before{
    content: url(../images/Iconprev-p.png);
    left: -100px;
}
#product-same .owl-carousel .owl-nav button.owl-next::before{
    content: url(../images/Iconnext-p.png);
    right: -100px;
}

.breadcrumb-main{
    margin-bottom: 20px;
}
.breadcrumb-main ol{padding-left: 0;}

.wrap-video-youtube{
    width: 100%;
}

.form-modal-search{
    padding: 25px 20px;
    background-color: var(--color-main);
    border-radius: 10px;
}
.form-modal-search label{
    font-family: var(--font-700);
    color: #FFF;
    font-size: 24px;
}
.form-modal-search .form-control{
    height: 48px;
}


















